/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* variables */

:root{
    --primary: #255EE9;

}

/* wave */

.wave{
    background-image: url(../img/wave.svg);
    background-size: 100% 100%;
    padding: 3%;
    filter: invert(96%)
}


.wave-white{
    
    background-image: url(../img/wave.svg);
    background-size: 100% 100%;
    padding: 3%;
    filter: invert(96%);
    transform: rotate(180deg);
    
}


/* nav */

body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav{
    display: flex;
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tittle{
    display: flex;
    width: 80%;
    gap: 1px;
}

.logo-up{
    width: 25%;
    justify-content: center;
}

.login{
    
    width: 25%;
    
}

.center{
    justify-content: center;
    display: flex;

}

ul{
    width: 50%;   
}

li{
    display: flex;
    list-style-type: none;
    width: 20%;
    justify-content: center;
    align-items: center;

}

.niv{
    color: #fff;
}

a{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

.login{
    display: flex;
    justify-content: flex-end;
    
}

.log{
    color: black;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    font-size:small;
}






/* header */
header{
    background-image: url(../img/jumbo.png);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 12%;
      
}

.head{
    width: 50%;
    text-align: center;
}

.lorem, h1{
    margin-top: 20px;
    color: #fff;
}

.apri{
    display: flex;
    margin: 20px;
    gap: 8px;
    justify-content: center;
}

.big{
    padding: 20px;
    border-radius: 40px;
}

.nero{
    color: #fff;
    background-color: black;
}

/* /header */

/* misure e colori dei conteinitori */
.white{
    display: flex;
    background-color: #fff;
    justify-content: center;
    padding: 20px;
}

.gray{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
}

.blue{
    height: 200px;
    width: 50%;
}

.study{
    background-image: url(../img/item1.svg);
    background-size: 100% 100%;
    padding: 15%;
}

.pink{
    display: flex;
    font-size: 110% ;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

.frog{
    margin-top: 2rem;
}

.voice{
    background-image: url(../img/item2.svg);
    background-size: 100% 100%;
    padding: 15%;
}

.coach{
    background-image: url(../img/item3.svg);
    background-size: 100% 100%;
    padding: 15%;
}

.reverse{
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.green{
    background-image: url(../img/item4-big.svg);
    background-size: 100% 100%;
    padding: 30% ;
}

.pronto{
    background-image: url(../img/stars.svg);
    background-size: 100% 100%;
    padding: 10px;

}

.violet{
    background-color: #7289DA ;
    color: #fff;
}

.up{
    display: flex;
    background-color: rgb(35, 39, 42);
    justify-content: center;
    

}

.bor{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 2px;
    width: 80%;
    border-bottom: #7289DA 1px solid;

}

.red{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}

span{
    margin: 10% 0;
    color: #fff;
}

.ita{ 
    background-size: cover; 
    height: 1rem;

}


.aqua{ 
    display: flex;
    width: calc(60% / 4 - (8px / 4));
    flex-direction: column;
    align-items: flex-start;
    line-height: 2;
}

.social{
    display: flex;
    color: #fff;
    font-size: large;
    justify-content: space-between;
    width: 50%;
}

h3, .up h2{
    color: #7289DA;
}

.down{
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.marine{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

